<!DOCTYPE html>
<html>

<head>
    <title>success</title>
    <link rel="stylesheet" href="/assest/css/style.css">
</head>

<body>
    <div class="popup-wrap">
        <div class="popup-box">
            <h2>Order Successful!</h2>
            <h3>Your order has been placed successfully. user ID: <%= orderId %> . </h3>
            <a class="close-btn popup-close" onclick="removeFromCart();">x</a>
        </div>
    </div>
</body> 

</html>
<script src="/assest/js/jslibrary/jquery-3.7.1.min.js"></script>
<script src="/assest/js/popup.js"></script>

